{% for cartoon in cartoons.data %}
    <div class="col-md-3" id="{{ cartoon.updatetime }}">
        <a target="_blank" href="/catalog/{{ cartoon.bookid }}">
            <img class="cartoonimg" src="{{ cartoon.thumb }}" alt="{{ cartoon.title }}">
        </a>
        <p class="cartoontitle"><a target="_blank" href="/catalog/{{ cartoon.bookid }}">{{ cartoon.title }}</a></p>
        <p><span class="cartoondesc">{{ cartoon.description }}</span></p>
        <p><span class="cartoonupdatechapter"> {{ cartoon.update_chapter_name }}</span></p>
    </div>
{% endfor %}
