 <nav class="navbar navbar-default navbar-fixed-top mynav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand navbar-title">大角虫漫画</a>
        </div>

        <form action="" class="navbar-form navbar-right">
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-btn">
                    <button class="btn btn-default">搜索</button>
                </div>
            </div>
        </form>
    </div>
 </nav>