<!DOCTYPE html>
<html lang="zh-ch">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>大脚虫漫画</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/my.css">
    <link rel="shortcut icon" href="../static/img/logo.jpg" type="image/x-icon">
</head>

<body>
    {% include 'header.html' %}
    <div class="container mycontainer">
        <div class="panel panel-default tagpanel">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-fire"></span>&nbsp;题材</h3>
            </div>
            <div class="panel-body">
                 <div class="rows">
                     {% for t in types %}
                         {% if type == forloop.counter %}
                             <div class="col-md-6 tag"><a class="selected" href="/type/{{ forloop.counter0 }}">{{ t }}</a></div>
                         {% else %}
                             <div class="col-md-6 tag"><a href="/type/{{ forloop.counter }}">{{ t }}</a></div>
                         {% endif %}
                     {% endfor %}
                </div>
            </div>
        <span class="hidden" id="nexturl">/type/{{ type }}/{{ cartoons.end }}</span>
        </div>
        <div class="panel cartoonpanel">
            <div class="panel-body">
                <div class="row" id="cartoonbody">
                    {% include 'cartoonitem.html' %}
                </div>
            </div>
        </div>

    </div>
    <script>
        $(window).scroll(function(){
        　　var scrollTop = $(this).scrollTop();
        　　var scrollHeight = $(document).height();
        　　var windowHeight = $(this).height();
        　　if(scrollTop + windowHeight == scrollHeight){
              var ele = document.getElementsByClassName("col-md-3");
              var b = ele[ele.length-1];
              var start = b.getAttribute("id");
        　　　 var nexturl = '/type/{{ type }}/'+start;
              jQuery.ajax({
                  type:'GET',
                  url:nexturl,
                  success:function (response){
                      $('#cartoonbody').append(response.toString());
                  }
              })
        　　}
        });
    </script>
</body>
</html>